.App {
  text-align: left;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App-container {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}

.App-header {
  width: 100%;
  font-size: calc(10px + 2vmin);
}

.Project-showcase {
  display: flex;
  flex-wrap: wrap;
}

.Project-container {
  position: relative;
  width: calc(100% /3);
}

.Project-img {
  max-width: 100%;
  display: block;
}

.Project-description {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.5em;
  background: #282c34cb;
  transition: 0.5s;
  opacity: 0;
}

.Project-container:hover .Project-description {
  transition: 0.5s;
  opacity: 1;
}

em {
  color: #00a8db;
}

.Footer-content {
  font-size: .6em;
}